In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read in first grocery csv 
grocery_csv = "./Resources/Groceries_dataset.csv"
grocery_df = pd.read_csv(grocery_csv)

# renamed member column
grocery_df.rename(columns={'Member_number':'MemberID'},
                 inplace=True)
grocery_df.head()

   MemberID        Date   itemDescription
0      1808  21-07-2015    tropical fruit
1      2552  05-01-2015        whole milk
2      2300  19-09-2015         pip fruit
3      1187  12-12-2015  other vegetables
4      3037  01-02-2015        whole milk

In [3]:
# sorted the Date column to be in chronological order
grocery_df['Date'] = pd.to_datetime(grocery_df.Date)
grocery_df.sort_values(by='Date', inplace=True)
grocery_df.head()

       MemberID       Date    itemDescription
15338      1381 2014-01-01               curd
9172       2226 2014-01-01            sausage
31684      1659 2014-01-01  frozen vegetables
13247      2610 2014-01-01     hamburger meat
13242      3942 2014-01-01   other vegetables

In [9]:
# 
grocery_two_csv = "./Resources/SELL_1.csv"
grocery_two_df = pd.read_csv(grocery_two_csv, sep='delimiter', header=None)
grocery_two_df.head()

C:\Users\Pucki\anaconda3\envs\PyData\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

                                                   0
0  Date;PKod;Pgroup;Pname;Pquantity;pce_zn;pwa_zn...
1  01.01.2018;5307;CHEMISTRY; PATYCZKI BELLA 200;...
2  01.01.2018;5986;CHEMISTRY;ACE 1 L;1;3,2;3,2;5,...
3  01.01.2018;399;DAIRY_CHESSE;ALMETTE CZOSNEK NI...
4  01.01.2018;2246;DAIRY_CHESSE;ALMETTE JOGURTOWY...

In [ ]:
# show each instance of purchase by a specific MemberID
grocery_df.loc[grocery_df['MemberID'] == 1381]