In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read in first grocery csv 
grocery_csv = "./Resources/Groceries_dataset.csv"
grocery_df = pd.read_csv(grocery_csv)

# renamed member column
grocery_df.rename(columns={'Member_number':'MemberID'},
                 inplace=True)
grocery_df.head()

   MemberID        Date   itemDescription
0      1808  21-07-2015    tropical fruit
1      2552  05-01-2015        whole milk
2      2300  19-09-2015         pip fruit
3      1187  12-12-2015  other vegetables
4      3037  01-02-2015        whole milk

In [3]:
# sorted the Date column to be in chronological order
grocery_df['Date'] = pd.to_datetime(grocery_df.Date)
grocery_df.sort_values(by='Date', inplace=True)
grocery_df.head()

       MemberID       Date    itemDescription
15338      1381 2014-01-01               curd
9172       2226 2014-01-01            sausage
31684      1659 2014-01-01  frozen vegetables
13247      2610 2014-01-01     hamburger meat
13242      3942 2014-01-01   other vegetables

In [5]:
# 
grocery_two_csv = "./Resources/Grocery_rotation"
grocery_two_df = pd.read_csv(grocery_two_csv)
grocery_two_df.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 4

In [4]:
# show each instance of purchase by a specific MemberID
grocery_df.loc[grocery_df['MemberID'] == 1381]

       MemberID       Date   itemDescription
15338      1381 2014-01-01              curd
31487      1381 2014-01-01              soda
25550      1381 2014-05-02        rolls/buns
32737      1381 2014-05-02  other vegetables
9401       1381 2014-05-02            coffee
38339      1381 2014-07-05            pastry
33788      1381 2014-07-05            pastry
20855      1381 2015-03-23     domestic eggs
24407      1381 2015-03-23         chocolate
8258       1381 2015-03-23      bottled beer
4706       1381 2015-03-23         beverages
31850      1381 2015-06-03       salty snack
19937      1381 2015-06-03          UHT-milk
3788       1381 2015-06-03  other vegetables
15701      1381 2015-06-03              soda