In [1]:
import csv
import pandas as pd

In [4]:
#reader = csv.reader(
    #open(r'C:\Users\mashe\OneDrive\Desktop\Class\etl-project\Resources\ROTATION_of_products01.01.2018-09.01.2019.csv'), delimiter = ";")
#for row in reader:
    #print (row)

In [6]:
rot = pd.read_csv('Resources/Grocery_rotation.csv', delimiter=';', encoding = 'latin-1')

In [7]:
rot.head(3)

,Pgroup,Lp,PKod,Pname,p_sale_in_time,Psale,Pavarage_stock,Rotation_in_days,Rotation_in_times
0,ART._HYGIENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,1.0,8478.0,BAMBINO SZAMPON 400 ML,"0,013368984","5,00","0,00",0,NaN
2,,1.0,17048.0,BELLA PODPASKI BLUE MAX,"0,024064171","9,00","0,00",0,NaN

In [8]:
rot.shape

(16334, 9)

In [18]:
rot_1_df = rot.dropna()

In [10]:
pip install pystempel

Requirement already satisfied: pystempel in c:\users\mashe\anaconda3\lib\site-packages (1.2.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tqdm in c:\users\mashe\anaconda3\lib\site-packages (from pystempel) (4.47.0)
Requirement already satisfied: sortedcontainers in c:\users\mashe\anaconda3\lib\site-packages (from pystempel) (2.2.2)

rot_1[:3]

In [24]:
rot_1.rename(columns={'Pgroup': 'Index',
                      'Lp': 'Lp',
                      'Pname': 'Name', 
                      'p_sale_in_time': 'Sale Time', 
                      'Psale': 'Sale', 
                      'Pavarage_stock': 'Average Inventory'}, inplace=True)

In [29]:
rot_1.replace(".", "", rot_1.count(".") -1)

ValueError: No axis named . for object type <class 'pandas.core.frame.DataFrame'>